.App {
    --header_height: 60px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hw {
    max-height: 500px;
    min-height: 50vh;
    margin: 0 auto;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.hwTitle {

}